{% extends "panel_base.html" %}

{% block title %} Admin Panel - Список бронювань {% endblock %}

{% block content %}
{% if not error %}
<table>
    <thead>
    <tr>
        <th>Майстер</th>
        <th>Сервіс</th>
        <th>Дата/час</th>
        <th>Ціна</th>
        <th>Хвилин для виконання</th>
    </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
        <tr>
            <td align="center">{{booking.master}}</td>
            <td align="center">{{booking.service}}</td>
            <td align="center">{{booking.date|date:'Y-m-d H:i'}}</td>
            <td align="center">{{booking.service.price}}</td>
            <td align="center">{{booking.service.time}}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock content %}