<p align="center" style="font-size: 24px; color: brown"><b>Admin Panel - Hairdresser CRM Django</b></p>
<div style="width:100%; height:100%; border:1px solid black;"> </div>
<table align="left">
    <td>
        <a href="{% url 'panel_root' %}" style="font-size: 20px">Домашня сторінка</a> &emsp;
        <a href="{% url 'panel_services' %}" style="font-size: 20px">Сервіси</a> &emsp;
        <a href="{% url 'panel_specialists' %}" style="font-size: 20px">Спеціалісти</a> &emsp;
        <a href="{% url 'panel_booking' %}" style="font-size: 20px">Бронювання</a>
    </td>
</table>
<table align="right">
    <td>
        {% if user.is_authenticated %}
            <a href="{% url 'panel_logout' %}" style="font-size: 20px">Вихід з адмінки</a>
        {% else %}
            <a href="{% url 'panel_login' %}" style="font-size: 20px">Вхід в адмінку</a> &emsp;
        {% endif %}
    </td>
</table>
<br><br>
<div style="width:100%; height:100%; border:1px solid black;"> </div>
<br>
{% if user.is_authenticated %}
<p align="right">Вітаю, <b>{{user.username}}</b>
    {% if request.user.is_superuser %}
    (суперадмін)! Для коректної роботи потрібно увійти як адмін
    {% elif perms.shop1.add_master %}
    (адмін)
    {% else %}
    (користувач)! Для коректної роботи потрібно увійти як адмін
    {% endif %}
    </p>
{% else %}
<p align="right">Для доступу до всіх функцій необходіно увійти в систему як адмін</p>
{% endif %}
<br>
