{% extends "base.html" %}

{% block title %} Бронювання замовлення {% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
<!--    <input type="text" name="client" placeholder="Назвіться, будь-ласка"><br><br><br>-->

    {% if got_error == "slot is busy now" %}
    <b>Виникла помилка!</b><br>
    На жаль, даний проміжок часу чи його частина уже зайнята. Спробуйте обрати інший час.<br><br>
    {% endif %}

    <i>Запис до майстра:</i> <b>{{master_name}}</b><br><br>
    <i>на послугу:</i> <b>{{service_name}}</b><br><br>

    {% if free_work_slots %}
        <i>Оберіть дату/час:</i>
        <select name="date">
            {% for free_slot in free_work_slots %}
            <option value="{{free_slot|date:'Y-m-d H:i'}}">{{free_slot|date:"Y-m-d H:i"}}</option>
            {% endfor %} <br>
        </select><br><br>
        <input type="submit" name="submit" value="Записатися">
    {% else %}
    неможливий. На жаль, у майстра недостатньо вільного часу для цього.<br>
    Будь-ласка оберіть іншого майстра чи послугу.
    {% endif %}
</form>

<br><br><br>Список бронювань знаходиться в адмінпанелі
{% endblock content %}
